header {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;  
}
header .logo {
  background-image: url("../images/logo.png");
	height: 60px;
	margin-left: 20px;
	width: 142px;
}